<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../css/tether.css">
    <link rel="stylesheet" href="../../css/tether-theme-arrows.css">
    <link rel="stylesheet" href="../../css/tether-theme-arrows-dark.css">
    <link rel="stylesheet" href="../../css/tether-theme-basic.css">
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/bootstrap-grid.css">
    <link rel="stylesheet" href="../../css/bootstrap-reboot.css">
    <link rel="stylesheet" href="../../font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../../css/font-awesome-animation.css">


    <link rel="stylesheet" href="../../css/style.css">
    <meta charset="UTF-8">
    <title>conditonAir</title>
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded  navbar-inverse bg-inverse" >
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline mr-auto my-2 my-lg-0">
            <button class="btn btn-outline-primary mr-sm-2" type="submit">חיפוש</button>
            <input class="form-control my-2 my-sm-0 " style="direction: rtl" type="text" placeholder="חיפוש">
        </form>
        <ul class="navbar-nav  form-inline">
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#myModal1">עלינו</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="contactUs.html" >צור קשר</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="products.html">מוצרים</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index.html">בית <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <nav class="navbar navbar-light bg-faded  navbar-inverse bg-inverse pt-0 pb-0 pl-0"  >
            <a class="navbar-brand pt-0 pb-0 pl-0" href="index.html">
                <img src="../../images/glasstype.jpg" class="logo" width="100" alt="">
            </a>
        </nav>
    </div>
</nav>
<div class="container">
    <div class="jumbotron pt-4 mt-4 pb-4">
        <div class="row">
            <div class="col-lg-12 right-to-left">
                <h1>כתבו אלינו</h1>
                <hr>
                <p>
                    מוקד שירות הלקוחות פתוח בימים א-ה' בין השעות 16:30-16:40
                    <br>
                    ביום ו' וערבי חג בין השעות: 12:30-12:31
                    <br>
                    טלפון: 1-700-50-15-15  |  פקס: 03-9011400
                </p>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">דוא"ל</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="me@mail.com">
                    </div>
                    <div class="form-group">
                        <label for="exampleTextarea">תוכן הפנייה</label>
                        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">צירוף קובץ</label>
                        <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                    </div>
                    <button type="submit" class="pull-left btn btn-primary">שלח</button>
                </form>
            </div>
        </div>
    </div>
</div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="direction: rtl">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row justify-content-start">
                    <h1 class="modal-title col-12" id="exampleModalLabel">עמוד זה נמצא בבניה</h1>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <h3 class="d-inline-block pl-3 mt-1">בקרוב</h3>
                    <span class="fa fa-wrench faa-wrench animated " aria-hidden="true" style="font-size: 30px;color: #e0580a;"></span>
                    <!--<i class="fa fa-circle-o-notch faa-circle-o-notch animated d-inline-block" aria-hidden="true"></i>-->
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <div class="col-8">
                    <button type="button" class="btn btn-outline-warning col-12" data-dismiss="modal">סגור</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="direction: rtl">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row justify-content-start">
                    <h1 class="modal-title col-12" id="exampleModalLabel1">עמוד זה נמצא בבניה</h1>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <h3 class="d-inline-block pl-3 mt-1">בקרוב</h3>
                    <span class="fa fa-wrench faa-wrench animated " aria-hidden="true" style="font-size: 30px;color: #e0580a;"></span>
                    <!--<i class="fa fa-circle-o-notch faa-circle-o-notch animated d-inline-block" aria-hidden="true"></i>-->
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <div class="col-8">
                    <button type="button" class="btn btn-outline-warning col-12" data-dismiss="modal">סגור</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="../../js/tether.js"></script>
    <script src="../../js/bootstrap.js"></script>
    <script src="../../js/app.js"></script>
</footer>
</html>