<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../css/tether.css">
    <link rel="stylesheet" href="../../css/tether-theme-arrows.css">
    <link rel="stylesheet" href="../../css/tether-theme-arrows-dark.css">
    <link rel="stylesheet" href="../../css/tether-theme-basic.css">
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/bootstrap-grid.css">
    <link rel="stylesheet" href="../../css/bootstrap-reboot.css">
    <link rel="stylesheet" href="../../font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../../css/font-awesome-animation.css">


    <link rel="stylesheet" href="../../css/style.css">
    <meta charset="UTF-8">
    <title>conditonAir</title>
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded  navbar-inverse bg-inverse" >
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline mr-auto my-2 my-lg-0">
            <button class="btn btn-outline-primary mr-sm-2" type="submit">חיפוש</button>
            <input class="form-control my-2 my-sm-0 " style="direction: rtl" type="text" placeholder="חיפוש">
        </form>
        <ul class="navbar-nav  form-inline">
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#myModal1">עלינו</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contactUs.html" >צור קשר</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="products.html" >מוצרים</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index.html">בית <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <nav class="navbar navbar-light bg-faded  navbar-inverse bg-inverse pt-0 pb-0 pl-0"  >
            <a class="navbar-brand pt-0 pb-0 pl-0" href="index.html">
                <img src="../../images/glasstype.jpg" class="logo" width="100" alt="">
            </a>
        </nav>
    </div>
</nav>
<div class="container">
    <div class="row mt-4">
        <div class="right-to-left">
            <h2>קטלוג מוצרים</h2>
            <div class="card d-inline-block" style="width: 20rem;">
                <img class="card-img-top" src="../../images/product1.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">מווסת טמפרטורה</h4>
                    <p class="card-text">המוצר שלנו, ההנאה שלכם = ההנאה שלנו.</p>
                    <a href="#" data-toggle="modal" data-target="#myModal2" class="btn btn-primary offset-1  ">לרכישה</a>
                    <h2 class="pull-left">
                        <span class="badge badge-default  ">30$</span>
                    </h2>
                </div>
            </div>

            <div class="card d-inline-block" style="width: 20rem;">
                <img class="card-img-top" src="../../images/product2.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">מזגן עילי</h4>
                    <p class="card-text">המוצר שלנו , הפעם בגרסה למשרד - רק בעזרתו תצליח לשמור על שלום המשרד.</p>
                    <a href="#" data-toggle="modal" data-target="#myModal2" class="btn btn-primary offset-1  ">לרכישה</a>
                    <h2 class="pull-left">
                        <span class="badge badge-default  ">60$</span>
                    </h2>
                </div>
            </div>

            <div class="card d-inline-block" style="width: 20rem;">
                <img class="card-img-top" src="../../images/product3.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">מזגן אקראי</h4>
                    <p class="card-text">מזגן המותאם אישית לCondetinAir, תכלס כל מזגן שקיים.</p>
                    <a href="#" data-toggle="modal" data-target="#myModal2" class="btn btn-primary offset-1  ">לרכישה</a>
                    <h2 class="pull-left">
                        <span class="badge badge-default  ">1200$</span>
                    </h2>
                </div>
            </div>

        </div>
        <div class="right-to-left mt-2">
            <div class="card d-inline-block" style="width: 20rem;">
                <img class="card-img-top" src="../../images/product1.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">מווסת טמפרטורה XL</h4>
                    <p class="card-text">המוצר שלנו, ההנאה שלכם = ההנאה שלנו.</p>
                    <a href="#" data-toggle="modal" data-target="#myModal2" class="btn btn-primary offset-1  ">לרכישה</a>
                    <h2 class="pull-left">
                        <span class="badge badge-default  ">60$</span>
                    </h2>
                </div>
            </div>

            <div class="card d-inline-block" style="width: 20rem;">
                <img class="card-img-top" src="../../images/product2.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">מזגן עילי XL</h4>
                    <p class="card-text">המוצר שלנו , הפעם בגרסה למשרד - רק בעזרתו תצליח לשמור על שלום המשרד.</p>
                    <a href="#" data-toggle="modal" data-target="#myModal2" class="btn btn-primary offset-1  ">לרכישה</a>
                    <h2 class="pull-left">
                        <span class="badge badge-default  ">120$</span>
                    </h2>
                </div>
            </div>

            <div class="card d-inline-block" style="width: 20rem;">
                <img class="card-img-top" src="../../images/product3.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">מזגן אקראי XL</h4>
                    <p class="card-text">מזגן המותאם אישית לCondetinAir, תכלס כל מזגן שקיים.</p>
                    <a href="#" data-toggle="modal" data-target="#myModal2" class="btn btn-primary offset-1  ">לרכישה</a>
                    <h2 class="pull-left">
                        <span class="badge badge-default  ">2400$</span>
                    </h2>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="direction: rtl">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row justify-content-start">
                    <h1 class="modal-title col-12" id="exampleModalLabel1">עמוד זה נמצא בבניה</h1>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <h3 class="d-inline-block pl-3 mt-1">בקרוב</h3>
                    <span class="fa fa-wrench faa-wrench animated " aria-hidden="true" style="font-size: 30px;color: #e0580a;"></span>
                    <!--<i class="fa fa-circle-o-notch faa-circle-o-notch animated d-inline-block" aria-hidden="true"></i>-->
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <div class="col-8">
                    <button type="button" class="btn btn-outline-warning col-12" data-dismiss="modal">סגור</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="direction: rtl">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row justify-content-start">
                    <h1 class="modal-title col-12" id="exampleModalLabel">רכישה</h1>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <h6 class="d-inline-block pl-3 mt-1">
                        <form action="">
                            <div class="form-group row justify-content-center">
                                <span class="fa fa-cc-amex fa-2x fa-border" aria-hidden="true" datatoggle="tooltip" data-placement="top" title="American express"></span>
                                <span class="fa fa-cc-visa fa-2x fa-border" aria-hidden="true" data-oggle="tooltip" data-placement="top" title="Visa"></span>
                                <span class="fa fa-google-wallet fa-2x fa-border" aria-hidden="true" daa-toggle="tooltip" data-placement="top" title="Google wallet"></span>
                                <span class="fa fa-cc-mastercard fa-2x fa-border" aria-hidden="true" data-tggle="tooltip" data-placement="top" title="Mastercard"></span>
                                <span class="fa fa-paypal fa-2x fa-border" aria-hidden="true" data-oggle="tooltip" data-placement="top" title="Paypal"></span>
                            </div>
                            <div class="form-group row">
                                <label  class="col-5 col-form-label">מספר כרטיס אשראי:</label>
                                <div class="col-7">
                                    <input class="form-control" type="text" value="" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-5 col-form-label">שם מלא:</label>
                                <div class="col-7">
                                    <input class="form-control" type="text" value="" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label  class="col-5 col-form-label">דוא"ל:</label>
                                <div class="col-7">
                                    <input class="form-control" type="email" value=""equired>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label  class="col-5 col-form-label">טלפון:</label>
                                <div class="col-7">
                                    <input class="form-control" type="tel" value="" equired>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-outline-primary col-9 pull-left">קנה</button>
                            <button type="button" class="btn btn-outline-warning offset-1 col-2" data-dismiss="modal">סגור</button>
                        </form>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="../../js/tether.js"></script>
    <script src="../../js/bootstrap.js"></script>
    <script src="../../js/app.js"></script>
</footer>
</html>